@tailwind base;
@tailwind components;
@tailwind utilities;

#search,
form input,
select,
textarea {
    border-radius: 0.2rem !important;
}

#rounded-l-0 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}