@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#search,
.accounts input,
.accounts select,
.accounts textarea {
  border-radius: 0.2rem !important;
}

#rounded-l-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}